gensim==3.8.0
joblib==0.14.1
tqdm==4.32.1
hyperopt==0.1.1
numpy==1.16.0
pandas==0.24.2
nltk==3.4.5
scikit-learn==0.20.2
Keras==2.2.4
Keras-Preprocessing==1.1.0
keras-self-attention==0.35.0
tensorflow-gpu==1.14.0